html,body {
    margin:0;
    padding:0;
    height: 100%;
    width: 100%;
    overflow: auto;
}
* {
    box-sizing: border-box;
    font-family: "adobe-clean", sans-serif;
}
*:focus {
    outline: 0;
}
body {
    margin:0;
    padding:0;
    font-size:100%;
}
header {
    height: 40px;
    background:#fff;
    background-image: url(../assets/images/bg_texture.jpg);
    background-repeat: repeat-x;
    /*background:#E8E5D6;*/
    padding-left: 25px;
}
img.header {
  padding-top: 5px;
  border: 0;
}
header a.home-link, header a.home-link:visited {
    margin-right:20px;
    text-decoration:none;
    color:#444;
    font-size:0.75rem;
    line-height: 40px;
    position: absolute;
    right: 0;
}
header a.home-link:hover {
    text-decoration: underline;
}
header a.home-link:before {
    content: ' ';
    height: 0;
    position: absolute;
    width: 0;

    border: 4px solid transparent;
    border-left-color: #444;

    top: 39%;
    left: -10px;
}
a {
    color: #167BA1;
    text-decoration: underline;
}
a:hover {
    color: #fff;
}

p {
    color: #2d3033;
    font-size:1.125rem;
    font-weight: 400;
    line-height: 1.6rem;
}

h2, h3, h4 {
    color: #fff;
    margin: 0px;
}
.main-btn {
    width: 95%;
    font-size:0.9rem;
    font-weight: 400;
    line-height:0.9rem;
    color:#fff;
    text-transform:uppercase;
    text-decoration:none;
    background:#f4b505;
    padding:15px 15px 15px 48px;
    border-radius:6px;
    letter-spacing:1px;
    display:inline-block;
    margin:22px 10px 0 0;
    text-shadow:0px 1px 0px #C7750E;
    cursor: hand;
    -webkit-transition: background-color,.35s;
    transition: background-color,.35s;
    -webkit-appearance: none;
}
.main-btn:hover {
    text-transform:uppercase;
    text-decoration:none;
    background:#ee3551;
    text-shadow:none;
    color: #fff;
}

/**** Setting .main-btn font to resize with viewport ****/

@media screen and (max-width: 62em) {
    .main-btn {
        font-size:0.8rem;
    }
}

@media screen and (max-width: 55em) {
    .main-btn {
        font-size:0.7rem;
        padding:13px 19px 13px 48px;
    }
}

/* Font resetting for buttons done */

.soon-btn {
    width: 95%;
    font-size:0.9rem;
    font-weight: 400;
    color:#45b8da;
    text-transform:uppercase;
    text-decoration:none;
    background:#1c738c;
    padding:15px 0px 15px 48px;
    border-radius:6px;
    letter-spacing:1px;
    display:inline-block;
    margin:22px 10px 0 0;
    line-height:0.9rem;
}

/**** Setting .soon-btn font to resize with viewport ****/

@media screen and (max-width: 62em) {
.soon-btn {
        font-size:0.8rem;
    }
}

@media screen and (max-width: 55em) {
.soon-btn {
        font-size:0.7rem;
        padding:13px 19px 13px 48px;
    }
}

/* Font resetting for buttons done */


footer {
    background:#333;
    color:#fff;
    font-size: 0.625rem;
    font-weight: 100;
    padding-top: 25px;
}
footer a{
    color:#fff;
}
footer a:hover {
    color:#169fc7;
}
.left, .right {
    display:inline;
    float:left;
}
.wrapper {
    overflow:auto;
    display:block;
    padding-left: 40px;
    width: 350px;
}

/**** Setting .wrapper for smallest viewport ****/

 
@media screen and (max-width: 48em) {
    .wrapper {
        padding-left: 20px;
    }
}

/* Font resetting for buttons done */

.copyright {
    padding-left: 10px;
    font-size: 0.6rem;
    font-weight: 100;
    color: #fff;
    line-height: 0.85rem;
}
.copyright2 {
    width: 100%;
    padding-left: 10px;
    font-size: 0.6rem;
    font-weight: 100;
    color: #fff;
    line-height: 0.85rem;
    text-align: center;
}
.copyright2 em{
 font-size: 0.75rem
}
.marginbottom20{
    margin-bottom: 10px;
}
.margintop20{
    margin-top: 20px;
}
.detail_img{
    
    width: 100%;

}
@media screen and (max-width: 57em){
    .detail_img{
    padding: 20px 0 30px 0;
    }
}
.paseo {
    padding:80px 0 80px 0;
}
.paseo h1 {
    font-size:2.3rem;
    color:#fff;
    font-weight: 600;
    text-align: center;
    line-height: 1.5rem;
}

/**** Setting h1 font to resize with viewport ****/

@media screen and (max-width: 62em) {
    .paseo h1 {
        font-size:2.2rem;
    }
}
 
@media screen and (max-width: 57em) {
    .paseo h1 {
        font-size:1.9rem;
    }
}
 
@media screen and (max-width: 48em) {
    .paseo h1 {
        text-align: center;
    }
    .paseo h2 {
        font-size: 1.7rem;
        margin: 0;
        }
}

/* Font resetting for h1 done */

.paseo h2 {
    font-size: 1.9rem;
    color:#fff;
    line-height: 1.5rem;
    font-weight: 400;
    text-shadow: 1px 1px 0px #444;
}

/**** Setting h2 font to resize with viewport ****/

@media screen and (max-width: 62em) {
    .paseo h2 {

        font-size: 1.7rem;
        margin: 0;


    }
}
 
@media screen and (max-width: 57em) {
    .paseo h2 {
        font-size: 1.5rem;
        text-align: center;
        padding-left: 0px;
    }
}

/* Font resetting for h2 done */

.paseo img {
    
}

/**** Setting hero image to scale with small ****/

@media screen and (max-width: 57em) {
    .paseo img {
        padding: 20px 0 30px 0;
    }
}

/* Image reset done */

strong, b {
    padding-top: 10px;
    display: block;
}

ul {
    font-size:1.3rem;
    color:#fff;
    line-height: 1.23em;
    font-weight: 100;
}

/**** Setting ul font to resize with viewport ****/

@media screen and (max-width: 62em) {
    ul {
        font-size:1.1rem;
        padding-bottom: 10px;

    }
}
 
@media screen and (max-width: 57em) {
    ul {
        font-size:0.95rem;
    }
}
#power {
    background:#ee3551;
 }
#power:after {


    border-top-color: #ee3551;

}
/* colores distintos */
#paseo07 {
    background:#f14d66;
     
    padding: 60px 0 30px 0;
    position: relative;
}

#paseo07:after {
    content: ' ';
    height: 0;
    position: absolute;
    width: 0;

    border: 30px solid transparent;
    border-top-color: #f14d66;

    top: 100%;
    left: 50%;

    margin-left: -25px;
    z-index: 2;
}
#paseo08 {
    background:#f66f84;
     
    padding: 60px 0 30px 0;
    position: relative;
}

#paseo08:after {
    content: ' ';
    height: 0;
    position: absolute;
    width: 0;

    border: 30px solid transparent;
    border-top-color: #f66f84;

    top: 100%;
    left: 50%;

    margin-left: -25px;
    z-index: 2;
}
#paseo09 {
    background:#b4d33a;
     
    padding: 60px 0 30px 0;
    position: relative;
}

#paseo09:after {
    content: ' ';
    height: 0;
    position: absolute;
    width: 0;

    border: 30px solid transparent;
    border-top-color: #b4d33a;

    top: 100%;
    left: 50%;

    margin-left: -25px;
    z-index: 2;
}
#paseo10 {
    background:#97b616;
     
    padding: 60px 0 30px 0;
    position: relative;
}

#paseo10:after {
    content: ' ';
    height: 0;
    position: absolute;
    width: 0;

    border: 30px solid transparent;
    border-top-color: #97b616;

    top: 100%;
    left: 50%;

    margin-left: -25px;
    z-index: 2;
}
#paseo11 {
    background:#88a906;
     
    padding: 60px 0 30px 0;
    position: relative;
}

#paseo11:after {
    content: ' ';
    height: 0;
    position: absolute;
    width: 0;

    border: 30px solid transparent;
    border-top-color: #88a906;

    top: 100%;
    left: 50%;

    margin-left: -25px;
    z-index: 2;
}


.row{
    padding: 60px 0 30px 0;
    position: relative;
}

.row:after{
    content: ' ';
    height: 0;
    position: absolute;
    width: 0;

    border: 30px solid transparent;
    top: 100%;
    left: 50%;

    margin-left: -25px;
    z-index: 2;
}
.row:last-child:after {
    content: inherit;
    padding-bottom: 0;
}


#paseo12 {    background:#ee8a08; }
#paseo12:after {   border-top-color: #ee8a08; }

#paseo13 {             background: #f2b260; }
#paseo13:after { border-top-color: #f2b260;}

#paseo14 {             background: #f2c17e; }
#paseo14:after { border-top-color: #f2c17e;}


#paseo15 {             background: #b19460; }
#paseo15 {             background: #0092c7; }
#paseo15:after { border-top-color: #0092c7;}

#paseo16 {             background: #7cc0de; }
#paseo16:after { border-top-color: #7cc0de;}

#paseo17 {             background: #b3d9e7; }
#paseo17:after { border-top-color: #b3d9e7;}


#paseo18 {             background: #0098a7; }
#paseo18:after { border-top-color: #0098a7;}

#paseo19 {             background: #75c9d3; }
#paseo19:after { border-top-color: #75c9d3;}

#paseo20 {             background: #a2d9de; }
#paseo20:after { border-top-color: #a2d9de;}


#paseo21 {             background: #976426; }
#paseo21:after { border-top-color: #976426;}

#paseo22 {             background: #b78945; }
#paseo22:after { border-top-color: #b78945;}

#paseo23 {             background: #caa365; }
#paseo23:after { border-top-color: #caa365;}


#paseo24 {             background: #839b51; }
#paseo24:after { border-top-color: #839b51;}

#paseo25 {             background: #b0c182; }
#paseo25:after { border-top-color: #b0c182;}

#paseo26 {             background: #c2cf9d; }
#paseo26:after { border-top-color: #c2cf9d;}

#paseo27 {             background: #04e27b; }
#paseo27:after { border-top-color: #04e27b;}

